h2{
    font-family: Major Mono Display;
    font-size: 35px;
    color: #684e4e;
    padding-right: 15px;
    text-decoration: none;
}

.navbar a {
    text-decoration: none; /* Quita el subrayado */
}

.category{
    margin: 20px;
    list-style-type: none;
    font-family: Montserrat;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin: 40px;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin: 25px;
}

.categories a {
    text-decoration: none; /* Quita el subrayado */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: none;
}

  
.cart-widget {
    display: flex;
    align-items: center;
    cursor: pointer;
}
  